extends layout

block content
  header.w3-container(style='padding-top:22px')
    h5 My Dashboard
  .w3-row-padding.w3-margin-bottom
    ul.nav.nav-tabs.graph-tabs
      - for( var i = 0; i < tabs.length; i++ )
        - active = (i === 0 ? 'active' : '')
        li(class=active)
          a(data-toggle="tab" href="#"+tabs[i] )= tabs[i]

    div.tab-content
      - for( var i = 0; i < tabs.length; i++ )
        - active = (i === 0 ? 'active in' : '')
        div.tab-pane.fade(class=active id= tabs[i])
          div.choral-chart.epoch.category10(id= "areaChart"+tabs[i] style="width: 900px; height: 200px")

  script.
    document.addEventListener("DOMContentLoaded", function(event) {
      var tab_titles = !{JSON.stringify(tabs)};
      var chartsData = {};
      window.charts = {};
      for( var i = 0; i < tab_titles.length; i++ ) {
        chartsData[tab_titles[i]] = [
          {
            label: tab_titles[i],
            values: []
          }
        ];
        window.charts[tab_titles[i]] = $('#areaChart'+tab_titles[i]).epoch({
          type: 'time.area',
          data: chartsData[tab_titles[i]]
        });
      }

      var socket = io.connect('//'+document.location.hostname+':'+document.location.port);
      socket.on('chartData', function (jsonString) {
        var data = JSON.parse(jsonString);
        for( var key in data.device_data ) {
          if( window.charts.hasOwnProperty(key) ) {
            window.charts[key].push([{
              time: data.device_timestamp/1000,
              y: data.device_data[key]
            }]);
          }
        }
      });
      socket.emit('subscribeToID', { choralId: '#{parentChoralId}' });
      socket.on('ackConnect', function (data) {
        console.log(data);
      });
    });
