extends layout

block content
  header.w3-container(style='padding-top:22px')
    h5.w3-left My Dashboard

  .w3-row-padding.w3-margin-bottom
    ul.nav.nav-tabs.graph-tabs
      - for( var i = 0; i < tabs.length; i++ )
        - active = (i === 0 ? 'active' : '')
        li(class=active)
          a(data-toggle="tab" href="#"+tabs[i] )= tabs[i]

    div.tab-content
      - for( var i = 0; i < tabs.length; i++ )
        - active = (i === 0 ? 'active in' : '')
        div.tab-pane.fade(class=active id= tabs[i])
          div.choral-chart.epoch.category10(id= "areaChart"+tabs[i] style="width: 900px; height: 200px")

  script.
    document.addEventListener("DOMContentLoaded", function(event) {
      var tabTitles = !{JSON.stringify(tabs)};
      var past = !{JSON.stringify(past_data)};
      var sampleRate = !{JSON.stringify(sample_rate)}
      var chartsData = {};
      window.charts = {};
      for( var i = 0; i < tabTitles.length; i++ ) {
        chartsData[tabTitles[i]] = [
          {
            label: tabTitles[i],
            values: past[tabTitles[i]]
          }
        ];
        var windowSize = 3600/sampleRate;
        window.charts[tabTitles[i]] = $('#areaChart'+tabTitles[i]).epoch({
          type: 'time.area',
          data: chartsData[tabTitles[i]],
          axes: ['left','bottom','right'],
          windowSize: windowSize,
          //1 tick every X data points
          // should be windowsize/(#ticks we want)
          ticks: { time: windowSize/10 }
        });
      }

      var socket = io.connect('//'+document.location.hostname+':'+document.location.port);
      socket.on('chartData', function (jsonString) {
        var data = JSON.parse(jsonString);
        for( var key in data.device_data ) {
          if( window.charts.hasOwnProperty(key) ) {
            window.charts[key].push([{
              time: data.device_timestamp/1000,
              y: data.device_data[key]
            }]);
          }
        }
      });
      socket.emit('subscribeToID', { choralId: '#{parentChoralId}' });
      socket.on('ackConnect', function (data) {
        console.log(data);
      });
    });
