extends layout

block content
  header.w3-container(style='padding-top:22px')
    h5 My Chorals
  hr
  .w3-container
    div.add-choral-btn-container 
      a(role='button' href='/chorals/new').w3-btn.w3-blue.add-choral-btn New Choral
    table.w3-table.w3-striped.w3-bordered.w3-border.w3-hoverable.w3-white
      tr
        td Name
        td Type
        td ID
        td Sample Rate
        td Function
        td
      each choral in chorals
        tr.choral-row(data-href="/chorals/" + choral.choralId)
          td= choral.name
          td= choral.choralType
          td= viewHelpers.truncateWithDots(choral.choralId, 30)
          td= choral.sampleRate
          td= viewHelpers.truncateWithDots(choral.func, 30)
          td
            button.w3-btn.w3-red.delete-choral-btn(data-choral-id=choral.choralId)
              span.glyphicon.glyphicon-trash

    script.
      $('.choral-row').on("click", function() {
        document.location = $(this).data('href');
      });

