extends layout

block content
  header.w3-container(style='padding-top:22px')
    h5
      b
        i.fa.fa-dashboard
        |  My Chorals
  hr
  .w3-container
  .w3-container
    h5 Chorals
    div.add-choral-btn-container 
      a(role='button' href='/chorals/new').btn.btn-primary.add-choral-btn New Choral
    table.w3-table.w3-striped.w3-bordered.w3-border.w3-hoverable.w3-white
      tr
        td Name
        td Type
        td ID
        td Sample Rate
        td Function
        td
      each choral in chorals
        tr
          td= choral.name
          td= choral.choralType
          td= viewHelpers.truncateWithDots(choral.choralId, 30)
          td= choral.sampleRate
          td= choral.func
          td
            button.btn.btn-danger.delete-choral-btn(data-choral-id=choral.choralId)
              span.glyphicon.glyphicon-trash
