extends layout

block content
  header.w3-container(style='padding-top:22px')
    h5 My Chorals
  hr
  .w3-container
    div.add-choral-btn-container 
      a(role='button' href='/chorals/new').w3-btn.w3-blue.add-choral-btn New Choral
    table.w3-table.w3-striped.w3-bordered.w3-border.w3-hoverable.w3-white
      tr
        td Name
        td Type
        td ID
        td Sample Rate
        td Function
        td
      each choral in chorals
        tr
          td= choral.name
          td= choral.choralType
          td= viewHelpers.truncateWithDots(choral.choralId, 30)
              a.w3-right.w3-btn.w3-blue.copy-choral-btn(data-choral-id=choral.choralId)
                span.glyphicon.glyphicon-copy
          td= choral.sampleRate
          td= viewHelpers.truncateWithDots(choral.func, 30)
          td
            a.confirm.w3-right.w3-btn.w3-red.delete-choral-btn(data-choral-id=choral.choralId)
              span.glyphicon.glyphicon-trash
<<<<<<< HEAD
            a.w3-right.w3-btn.w3-blue.view-choral-btn(data-choral-id=choral.choralId)
              span.fa.fa-line-chart

    script.
      $('.choral-row').on("click", function() {
        document.location = $(this).data('href');
      });
      $('.delete-choral-btn').click( function(evt) {
        evt.stopPropagation();
      });
          td
            button.btn.btn-danger.delete-choral-btn(data-choral-id=choral.choralId)
              span.glyphicon.glyphicon-wrench
