extends layout
include modal_mixins

block content
  header.w3-container(style='padding-top:22px')
    h5 My Devices
  hr
  .w3-container
    div.choral-btn-container
      +device_modal

    table.w3-table.w3-striped.w3-bordered.w3-border.w3-hoverable.w3-white.choral-table
      tr
        td Name
        td Type
        td Device ID
        td Sample Rate
        td
      each device in devices
        tr
          td= device.name
          td= device.choralType
          td= viewHelpers.truncateWithDots(device.choralId, 30)
            a.w3-right.w3-btn.w3-blue.copy-choral-btn(data-choral-id=device.choralId)
              span.glyphicon.glyphicon-copy
          td= device.sampleRate
          td
            a.w3-right.w3-btn.w3-red.delete-choral-btn(data-choral-id=device.choralId)
              span.glyphicon.glyphicon-trash

