extends layout

block content
  header.w3-container(style='padding-top:22px')
    h5 My Devices
  hr
  .w3-container
    div.add-device-btn-container 
      a(role='button' href='/devices/new').w3-btn.w3-blue.add-device-btn New Device
    table.w3-table.w3-striped.w3-bordered.w3-border.w3-hoverable.w3-white
      tr
        td Name
        td Type
        td Device ID
        td Sample Rate
        td
      each device in devices
        tr
          td= device.name
          td= device.choralType
          td= viewHelpers.truncateWithDots(device.choralId, 30)
            a.w3-right.w3-btn.w3-blue.copy-choral-btn(data-choral-id=device.choralId)
              span.glyphicon.glyphicon-copy
          td= device.sampleRate
          td
            a.w3-right.w3-btn.w3-red.delete-choral-btn(data-choral-id=device.choralId)
              span.glyphicon.glyphicon-trash
            a.w3-right.w3-btn.w3-blue(role='button' href='/devices/edit/' + device.choralId)
              span.glyphicon.glyphicon-pencil
            a.w3-right.w3-btn.w3-blue.view-choral-btn(href='/chorals/' + device.choralId)
              span.fa.fa-line-chart
