mixin editScript(children, chorals, thisChoral)
  // this needs to be a pug mixin because it transfers the children in a really stupid way
  script(type='text/javascript').
    // this is the stupidity im talking about
    var children = !{JSON.stringify(children)};
    var chorals = !{JSON.stringify(chorals)};

    function abortChild(index){
      children.splice(index, 1)
      displayChildren()
    }

    function displayChildren(){
      $("#children-list").empty()
      children.forEach((child, ind) => {
      // append something you can view and a hidden input for each of the children
        $("#children-list").append(`
        <h4><a onclick="abortChild(${ind})" class="confirm w2-right w3-btn w3-red delete-choral-btn"><span class="glyphicon glyphicon-trash" ></span></a>  &nbsp ${child.name}</h3>
        <input type="hidden" name="children[]" value='${child._id}' >`)
      })
    }

    function adoptChild(child){
      var child = JSON.parse(child)
      // dont add in things that are already in the list
      if(children.find((val) => val.choralId == child.choralId )) {
        return;
      }
      children.push(child)
      displayChildren()
    }

    $(document).ready(() => {
      displayChildren()
    })

mixin children_add(thisChoral)
  .form-group
    .inline-select
      label Children Chorals
        div#children-list
      div
        select#childChoral.form-control.add-child-input(name='childChoral')
          each choral in chorals
            -if(!thisChoral || (choral.choralId != thisChoral.choralId))
              option(value=choral)= choral.name
        button.w3-btn.w3-blue.w3-right(type='button' onclick='adoptChild(childChoral.value)') Add Child
