extends layout

block content
  header.w3-container(style='padding-top:22px')
    - var c = (chorals.length == 1 ? 'choral' : 'chorals')
    h4 You have <b>#{chorals.length} active #{c}</b> running at <b>#{stats.rps} requests per second</b>.
  .w3-container
    div.add-choral-btn-container 
      a(role='button' href='/chorals/new').w3-btn.w3-blue.add-choral-btn New Choral
      a.link-margin(role='button' href='/devices/new').w3-btn.w3-blue.add-device-btn New Device
  .w3-container
    p Filter
  br
  each choral in chorals
    .col-sm-8.col-md-8.col-lg-4.mt-3
      if choral.choralType=='choral'
        .card(onclick="location.href='/chorals/"+choral.choralId+"';")
          .card-block
            h4.card-title.mt-3= choral.name
            .meta.card-text
              |  #{1/choral.sampleRate} Requests per second
            .card-text
              |  Composed of #{choral.children.length} chorals
            .card-footer
              a(href="/chorals/edit/"+choral.choralId) Edit
              a.link-margin(href="/chorals/delete/"+choral.choralId) Delete
      else
        .card.w3-white(onclick="location.href='/chorals/"+choral.choralId+"';")
          .card-block
            h4.card-title.mt-3= choral.name
            .meta.card-text
              |  #{1/choral.sampleRate} Requests per second
            .card-footer.w3-white
              a(href="/devices/edit/"+choral.choralId) Edit
              a.link-margin(href="/devices/delete/"+choral.choralId) Delete
      br
  div#mynetwork(style='width: 100%; height: 400px')
    
  script.
    var nodes = !{JSON.stringify(nodes)}
    var edges = !{JSON.stringify(edges)}
    // create an array with nodes
    
    nodes = new vis.DataSet(nodes);
    edges = new vis.DataSet(edges);
    
    // create a network
    var container = document.getElementById('mynetwork');

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {};

    // initialize your network!
    var network = new vis.Network(container, data, options);
    