include edit_or_add_mixin

mixin device_modal()
  button(type='button' data-toggle="modal" data-target="#myModal").choral-btn-add New Device
  #myModal.modal.fade(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal") &times;
          h4.modal-title Register Device
        .modal-body
          header.w3-container(style='padding-top:22px')
            form(method='POST' action='/devices').new-device-form
              .form-group
                  label(for="deviceName") Device Name: 
                  input#deviceName.form-control(type='text' name='deviceName')
              .form-group
                  label(for='sampleRate') Sample Rate (seconds): 
                  input#sampleRate.form-control(type='number' name='sampleRate' value='5' min='1')
              button.w3-right.choral-btn-add(type='submit') Create Device

mixin choral_modal()
  button(type='button' data-toggle="modal" data-target="#myModal").choral-btn-add New Choral
  #myModal.modal.fade(role="dialog")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button" data-dismiss="modal") &times;
          h4.modal-title Create A New Choral
        .modal-body
          header.w3-container(style='padding-top:22px')
            form(method='POST' action='/chorals/' id='mainForm').new-choral-form
              .form-group
                label(for='choralNameInput') Name
                input#choralNameInput.form-control(name='name' type='text')
              .form-group
                label(for='choralSampleRateInput') Sample Rate (seconds)
                .input-group
                  input#choralSampleRateInput.form-control(name='sampleRate' type='text', placeholder='5')
                  .input-group-addon.w3-blue seconds (>= 1)
              .form-group
                label(for='choralFuncInput') Function
                textarea#choralFuncInput.form-control(name='func' type='text' placeholder='function(children, done){ done({ val: Math.random() * 50 }); }')
                
              if defaultFuncs.length > 0
                .form-group
                  label(for='choralDefaultFuncInput') Quick Function
                    select(name='defaultFunc' type='text').form-control#choralDefaultFuncInput
                      each func in defaultFuncs
                        option(value=func.func)= func.fileName


              +children_add()

              //Submit main form
              br
              br
              br
              button.choral-btn-add(type='submit' form='mainForm') Create Choral

            +editScript([], chorals)
            // End page content

mixin edit_choral_modal(choral, chorals, children)
  a.link-margin.w3-right.w3-btn.w3-blue(type='button' href='/chorals/?chorald='+choral.choralId+'#editModal' data-toggle='modal').choral-btn-add
    span.glyphicon.glyphicon-pencil
  #editModal.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button' data-dismiss='modal') &times;
          h4.modal-title Edit Choral
        .modal-body
          header.w3-container(style='padding-top:22px')
            form.w3-container(method='POST' action='/chorals/edit/'+ choral.choralId id='mainForm').new-choral-form
              .form-group
                label(for='choralIdInput') ID
                input#choralIdInput.form-control(name='id' type='text' readonly value=choral.choralId)
              .form-group
                label(for='choralNameInput') Name
                input#choralNameInput.form-control(name='name' type='text' value=choral.name)
              .form-group
                label(for='choralSampleRateInput') Sample Rate (seconds)
                .input-group
                  input#choralSampleRateInput.form-control(name='sampleRate' type='text', value=choral.sampleRate)
                  .input-group-addon.w3-blue seconds (>= 1)
              .form-group
                label(for='choralFuncInput') Function
                textarea#choralFuncInput.form-control(name='func', type='text')= choral.func
              +children_add(choral)

              //Submit main form
              br
              br
              br
              button.choral-btn-add(type='submit' form='mainForm') Submit Changes

            +editScript(children, chorals)
